.breadcrumbs {
    border-bottom: 1px solid #e2e2e2;
    background-color: #fafafa;
    height: 40px;
    padding: 10px;

    ul {

        li {
            list-style: none;
            display: inline-block;
            padding: 0 10px;

            a {
                text-decoration: none;

                &.path {
                    cursor: default;
                }
            }

        }
    }

    .dot {
        height: 5px;
        width: 5px;
        background-color: #bbb;
        border-radius: 50%;
        line-height: 17px;
        position: relative;
        top: -5px;
        display: inline-block;
        margin-left: 6px;
        margin-right: 2px;
    }

    .menu {
        float: right;
    }
}
