nav.flyout {

    .active {
        background: #0e6ea8
    }

    ul{
        list-style: none;

        li {
            width: 120px;
            background: #0080cd;
            float: left;
            height: 35px;
            line-height: 35px;
            text-align: center;
            margin-right: 2px;
            position: relative;

            &:hover {
                background: #0e6ea8;
            }

            &:hover ul {
                margin: 0;
                padding: 0;
                display: block;
            }

            a {
                color: #fff;
                text-decoration: none;
                font-family: sans-serif;
                display: block;
            }

            ul {
                display: none;
                li {
                    border-top: 1px solid #fff;

                    &:hover {
                        .item{display: block;}
                    }
                }
            }

            ul.item {
                position: absolute;
                left: 122px;
                top: 0;
                display: none;
            }

        }
    }
}






