nav.flyout {
    font-size: 14px;
    display: block;
    height: 59px;
    width: 100%;

    .active {
        background: #efefef;
        height: 59px;
    }

    ul{
        padding: 0;
        margin: 0;
        list-style: none;

        li {
            width: 160px;
            background: #fff;
            float: left;
            height: 59px;
            line-height: 59px;
            text-align: center;
            position: relative;

            &:hover {
                background: #efefef;
            }

            &:hover ul {
                margin: 0;
                padding: 0;
                display: block;
            }

            a {
                padding-left: 15px;
                color: #000;
                text-decoration: none;
                font-family: sans-serif;
                display: block;
            }

            ul {
                display: none;
                &.item-0 {
                    content: '';
                    left: 0;
                    position: absolute;
                    right: 0;
                    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
                }

                li {
                    text-align: left;
                    a {
                        padding-left: 15px;
                        color: #000;
                        text-decoration: none;
                        font-family: sans-serif;
                        display: block;
                        span {
                            display: inline-block;
                            position: absolute;
                            right: 5px;
                        }
                    }

                    &:hover {
                        .item{
                            display: block;
                        }
                    }
                }
            }

            ul.item {
                position: absolute;
                left: 160px;
                top: 0;
                display: none;
                box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
            }
        }
    }
}






